/**
 * index.scss
 * - Add any styles you want here!
 */

@import url("https://fonts.googleapis.com/css?family=Cinzel|Lato");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: "Lato", sans-serif;
  background: #f5f5f5;
  overflow: hidden;
}
main {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.home,
.portfolio,.album,.expand-body,.description,.about,.bio,.nav-bar,.social-medias {
  position: absolute;
  margin: auto;
}
.portfolio-show {
  transform: translate(0, -30%);
}


.home {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-color:#e6ffff;
}
.about{
  display:none;
  left: 0;
  right: 0;
  top: 0;
  bottom:50px;
  z-index:2;
}
.bio{
  left:10%;
  top:0;
  bottom:0;
  right:45%;
  font-weight:100;
  text-align:justify;
  align-items: center; 
  display: flex;
  font-size:1.5em;
  
}
.social-medias img{
  width:50px;
  margin:0 10px;
}
.social-medias{
  left:65%;
  top:0;
  bottom:0;
  right:10%;
  font-weight:100;
  text-align:justify;
  align-items: center; 
  display: flex;
  font-size:1.5em;
}
.portfolio {
  left: 0;
  right: 0;
  top: 100%;
  bottom: calc(-100% + 50px);
  background-color:#ebf2ff;
  z-index: -1;
  overflow:scroll;
}
.name-work {
  text-align: center;
  position: absolute;
  margin: auto;
  height: 70%;
  width: 100%;
  bottom: 0;
}
.work {
  font-weight: 400;
}
.name {
  font-family: "Cinzel", serif;
  font-weight: 500;
  font-size: 90px;
  margin: 0;
}
.nav-bar {
  color:white;
  text-align: center;
  height: 50px;
  width: 100%;
  bottom: 0;
  box-sizing: border-box;
  background-color:#2eb8b8;
}
.nav-bar-left {
  position: absolute;
  left: 10px;
  width: 20%;
  margin: auto;
  top: 0;
  bottom: 0;
}
.nav-bar-right {
  display: flex;
  position: absolute;
  margin: auto;
  left: 20%;
  right: 20%;
  top: 0;
  bottom: 0;
}
.box-link {
  font-size: 18px;
  flex-grow: 1;
  max-width:calc(100%/3);
  height: 100%;
  line-height: 50px;
}
.out {
  opacity: 0;
}
.in {
  opacity: 1;
}
.link-body {
  cursor:pointer;
}

.home-link {
  display:none;
  color: rgba(255, 255, 255,0.7);
}

.contact {
  position: fixed;
  margin: auto;
  height:100%;
  width:30%;
  right:calc(-30% - 50px);
  top:0;
  bottom:0;
  background-color:rgb(204, 255, 204);
  z-index: 1;
}
.contact-close{
  position:absolute;
  height:100%;
  left:-50px;
  top:0;
  bottom:0;
  width:50px;
  background-color: #00e64d;
}
.contact:before{
  content:'';
  border-right:3px solid white;
  border-bottom:3px solid white;
  width:10px;
  height:10px;
  position:absolute;
  margin:auto;
  top:0;
  bottom:0;
  left:-35px;
  transform:rotate(-45deg);
  z-index:3;
}
.project{
  box-sizing: border-box;
}

.responsive{
  padding:20px 10px;
  float: left;
  width: calc(100%/4);
  box-sizing:border-box;
  overflow:hidden;
}

img{
  box-sizing: border-box;
  width: 100%;
  height: auto;
}
.album{
  justify-content: center;
  width: 100%;
  left:0;
  right:0;
  box-sizing: border-box;
  display:flex;
  flex-wrap:wrap;
}
.submit{
  margin-top:20px;
  width:100px;
}
.expand{
  width:3px;
  height:15px;
  background-color:black;
  position:absolute;
  margin:auto;
  top:-12px;
  bottom:0;
  left:0;
  right:0;
  cursor:pointer;
}
.expand-2{
  height:3px;
  width:15px;
  background-color:black;
  position:absolute;
  margin:auto;
  bottom:0;
  top:0;
  right:0;
  left:-12px;;
  cursor:pointer;
  
}
.expand-body{
  margin-top:15px;
  left:0;
  right:0;
  height:20px;
  width:20px;
  transform:rotate(-135deg);
  cursor:pointer;
}

.project-img{
  position:relative;
  width:100%;
  overflow:hidden;
}
.description{
  display:none;
  bottom:3px;
  width:100%;
  height:4em;
  color:white;
  background-color:rgba(0,0,0,0.5);
  text-align:center;
  line-height:4em;
}
h1{
  font-size:30px;
  font-weight:400;
  text-align:center;
}
label{
  font-size:25px;
  display:inline-block;
  margin:10px auto;
}
input{
  border-style:none;
  font-size:20px;
  display:inline-block;
  background-color:#fbfffb;
  border-radius:5px;
  margin:0 auto;
  width:80%;
}

.email{
  margin: 20px 10%;
}

textarea{
  background-color:#fbfffb;
  border-style:none;
  border-radius:5px;
  width:80%;
  height:10em;
}

form{
  text-align:center;
   width:100%;
}

*{
  box-sizing:border-box;
}

.card-image img{
  height:100%;
  position:absolute;
  top:0;
}

.card{
  flex-wrap:wrap;
  border-radius:1px;
  float:left;
  position:relative;
  overflow:hidden;
  width:20%;
  min-width:20%;
  padding-top:20%; 
  background-color:white;
  box-sizing:border-box;
}

.text-content{
  line-height:2em;
  padding-left:0.5em;
}

.card-image{
  position:absolute;
  top:0;
  width:100%;
  padding-top:100%;
  z-index:1;
}

.card-content{
  position:absolute;
  bottom:0;
  width:100%;
  height:2em;
  z-index:0;
  
}

.icon-content{
  margin:auto;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  float:right;
  display:flex;
  margin-right:0.5em;
  align-items:center;
}

.info-on{
  display:none;
}






@media only screen and (max-width:900px){
  .bio{
    left:10%;
    right:40%;
  }
  
}

@media only screen and (max-width:600px){
  .card{
  flex-wrap:wrap;
  border-radius:1px;
  float:left;
  position:relative;
  overflow:hidden;
  width:50%;
  min-width:50%;
  padding-top:50%; 
  background-color:white;
  box-sizing:border-box;
  }
  .name {
  font-size: 60px;
}
  .contact{
    width:calc(100% - 50px);
    right:calc(-100% );
  }
  .responsive{
  padding:5px 5px;
  float: left;
  width: calc(100%/2);
  box-sizing:border-box;
  }
  .album{
    width:100%;
  }
  .bio{
    font-size:1em;
    top:70px;
    left:50px;
    right:50px;
    align-items: flex-start; 
  }
  .social-medias{
    width:auto;
    top:20px;
    text-align:center;
    left:50px;
    right:50px;
    bottom:auto;
    display:inline-block;
  }
  .social-medias a{
    text-align:center;
  }
}


